*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(16,16,16);
}

a{
    text-decoration: none;
    color: antiquewhite;
    padding: 1rem 2.5rem;
    border: 2px solid antiquewhite;
    position: relative;
    overflow: hidden;
}

a::before{
    content: 'Download';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
    color: #000;
    transform: translateY(-100%);
    transition: all 0.5s ease;
}

a:hover::before{
    transform: translateY(0);
}