*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(23,23,23);
    font-family: sans-serif;
}

.heading{
    font-size: 10rem;
    font-weight: 900;
    background-image: url(https://img.freepik.com/free-vector/blue-watercolour-banner-white-border_78370-1863.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}