*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
}

.container{
    margin: 2rem auto;
}

.content{
    padding: 5rem;
}

section{
    border: 2px solid #fff;
    padding: 1rem;
    margin: 1rem 0;
}

section h1{
    margin: 10px 0;
}

.scroll-indicator{
    position: fixed;
    top: 2%;
    left: 4%;
    width: calc(100% - 8vw);
    height: 5px;
}

.scroll-indicator .progress{
    width: 20%;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 20px;
}