*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
}

.background{
    background: url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
    z-index: -1;
    filter: blur(5px);
}

.loading-text{
    font-size: 50px;
    background: linear-gradient(to right, #eb0010, #447BBE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}